body{
    margin: 0%;
    padding: 0%;
    
} 
body::-webkit-scrollbar {
    width: 0;  
  } 
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
.navbar{
    width: 100%; 
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px; 
    position: fixed;
    z-index: 80; 
    left: 0;
    top: 0;
    background: rgb(255, 255, 255); 
} 
li{ 
    white-space: nowrap;
}
.logo-1{
    margin-right: 40%; 
    margin-left: 5%;
}
.img-logo{
    width: 150px;
} 
.login-button{
    margin-right: 70px;  
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.blue-line{  
    background-color:#2f80ed; 
    width: 100%;
    height: 23px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    position: fixed;
    z-index: 80; 
    top: 55px;    
    padding: 10px 0px;

} 
.blue-line>img{  
    width: 200px;  
}
.hero{
    margin-top: 5%;
    width: 85%;  
    display: flex; 
    justify-content: center;
    align-items: center;
}
.hero-box1{  
    margin-left: 100px;
    margin-top: 90px; 
} 
.hero-e1{
    width: 600px;
    height: 176px;
}
.hero-e2-img1{
    width: 750px; 
    margin-left: -40px; 
    z-index: 1;
    position: relative;  
} 
.hero-e2-img2{ 
    margin-left: 85%;
     margin-top: -38%;
    transform: rotate(10deg); 
    z-index: 0;
    position: relative; 
    
}
.hero-e3{
    padding: -40px;
    margin-left: -40px;  
}
  .hero-box2{
    margin-left: 4%; 
    margin-right: -5%;
    box-shadow: 2px 2px 50px #2f80ed;
    height:400px; 
    border: 2px;
    border-radius: 5%;  
  }
.hero-box2-e1{
    width: 100%; 
    padding: 5%; 
}
.hero-box2-img1{
    width: 100%;   
    height: 200%;
    margin-top: 5%;
} 
.hero-box2-e2{
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.hero-box2-img2{
    width: 80%;
}
 form{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .name,.phone{
    width: 95%;
    margin: 3%;
    margin-top: 5%;
    font-size: small;
    font-weight: 300;
 }
.button{
    color: white; 
    font-size: small;
    font-weight: 300;
    width: 95%;
    margin: 2%;
    margin-top: 5%; 
    border: 2px ; 
    background: linear-gradient(to right, #3d75ed , #853eed); 
    border: 2px;
    border-radius: 8px;
} 
.hero-box2-img2{
    margin-top: 10%; 
}
.course-container{
 background-color: #ecf8ff;  
 height: 650px;
 width: 100%;  
} 
.two-course{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.course-box0>h5{
    padding-top: 50px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.64px;
    letter-spacing: 8%;
    color: #7c45ed; 
}
.course-box0>h2{ 
   margin-top:  -10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 8%;
    color: #2F80ED; 
}
.course-box1:hover {
    cursor: pointer;
  }
.course-box1{
    width: 400px;
    height: 400px;
    background-color: white; 
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px;
  border-radius: 9px;
} 
.course-box1-sec2>img{
    width: 80%;
    margin-left: 70px;
}
.course-box1-sec1{ 
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.course-box1-sec1-img{
    width: 150px;
    height: 36px;
}
.course-box1-sec1-e1-t1,.course-box1-sec1-e1-t2{
     
    background-color: #e0f3ff;
    color: #1d78b0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    width: 148px;
    padding: 3px;
    border: 7px;
    gap: 18px;
    border-radius: 7px;
}
.course-box1-sec1-e2{ 
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;  
}
.course-box1-bt1{ 
    width: 150px;
    border-color: #8ab8f4; 
    color: #8ab8f4;
    background-color: white;
    border-width: 1px;
    border-radius: 8px;
    font-family: ABeeZee;
    font-weight: 400; 
    font-size: 13px;
    line-height: 27px;
}
.course-box1-bt2{
    width: 150px;
    background-color: #2F80ED;
    color: white;
    font-family: ABeeZee;
    font-weight: 400; 
    font-size: 13px;
    line-height: 27px; 
    border: 1px;
    border-radius: 8px;
}
.ywl-button{
    background-color: #ffeed8;
    color: #965400;
}
.hiring-container{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
.hiring-0{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 80px;
    margin-right: 60px;
    margin: 50px;

}
.hiring-e1{
    width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px;
}
.hiring-text{
    width: 40%;
}
.h-img{
    width: 80%;
}
.h-butoon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{ 
    width: 200px;
    font-family: ABeeZee;
    font-weight: 400;
    font-style: initial; 
    font-size: 12px; 
} 
.scroll{
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
}

.hiring-e2,.hiring-e4{ 
    animation: scrollAnimation 5s linear infinite;
}
.hiring-e3{ 
    animation: scrollAnimation1 5s linear infinite;
} 
@keyframes scrollAnimation {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-100%); /* Scroll to the left */
    }
  } 
@keyframes scrollAnimation1 {
    0% {
      transform: translateX(-100%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(100%); /* Scroll to the left */
    }
  } 
  .alumini-container{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-right: 100px;
    margin-left: 100px;
  }
    
  .alumini-e1{
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  .alumini-text{
    width: 40%;
  }
  .alumini-e2{
    display: flex;  
    margin-top: 40px;  
  }
  .alumini-e2-box1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .a-c0{
    width: 110%; 
  }
  .a-c4{
    margin-top: -48px; 
  }  
  .a-c2{
    margin-top: -52px;
  }  
  .a-c6{
    margin-top: -45px;
  }  
   .a-c4,.a-c3{
    margin-left: -15px;
   } 
   .a-c5,.a-c6{
    margin-left: -30px;
   }
  
   @media (max-width: 1024px) {
    
    .hero-e1{
        width: 90%;
        height: 20%;
    }
    .hero-e2-img1{
        width: 100%;
        margin-left: -8%;
    }
    .hero-e2-img2{
        width: 20%;
        margin-left: 78%;
        margin-bottom: 6%;
    }
    .hero-e3{
        width: 60%;
        margin-left: -8%;
        margin-top: -5%;
    }
    .hero-box2{
        width: 70%;
        height: 10%;
        margin-top: 5%;
    }
    .name,.phone{
        height: 10%;
    }  
    .course-box1-sec1-e2{
        font-size: 80%;
    }
  }
  @media (max-width: 435px) {
    .course-box1-sec2{
        width: 100%;
        margin-left: -50%;
    } 
    .course-box1-sec1-e2{
        font-size: 40%; 
    }
    .course-box1-sec1-e1-t1,.course-box1-sec1-e1-t2{
        font-size: 55%; 
    }
    .course-box1-sec1-img{
        width: 50%;
        height: 30%;
    }
    .hero-box2{
        display: none;
    }
    .course-box1-sec3>button{
        font-size: 50%;
       width: 60%;
       height: 50%;
    }
    .course-box1-sec3{
        display: flex;
    } 
    .hiring-text{
        width: 70%;
    }
    .scroll{
        width: 100%;
        margin-top: -30%;
    }
    .h-img{
        width: 100%;
    } 
    .h-butoon{
        margin-top: -40%;
    }
    .hiring-container{
        margin-top: -20%;
    }
    .course-box0>h5{
        font-size: 70%;
    }
    .course-box0>h2{
        font-size: 150%;
    }
     .alumini-container{
        display: none;
     }
  }
  @media (max-width: 320px){
   .hero-box1{
    margin-left: 10%;
   }
   .hero-box2{
    width: 200%;
    height: 190px;
    margin-top: 50%;
   }
  }
  @media (max-width: 768px){
    .alumini-container{
        margin-top: -20%;
    }
    .a-c0{
        width: 100%;
        margin-top: 5%;
    }
    .alumini-e2{
        display: flex;
        justify-content: space-around ; 
    } 
  }
  